<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

<head>

<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{./css/index.css}">
</th:block>
<th:block layout:fragment="script">
	<script>
		function send(){
			let fm = document.getElementById("loginFm");
			fm.submit();
		}
	</script>
</th:block>

</head>

	<div layout:fragment="main"  id="main">
		<div id="loginWrap">
			<div class="login-box">
				<div class="login-area">
					<form name="loginFm" id="loginFm" th:object="${memberDTO}" method="post" action="/signIn">
						<div class="input-field">
							<label th:for="email">ID</label>
							<input type="text" th:field="*{email}">
						</div>
						<div class="input-field">
							<label th:for="password">PassWord</label>
							<input type="password" th:field="*{password}">
						</div>
						
						<p th:if="${fail}"  style="color:red; font-size:13px;">
						아이디 또는 비밀번호가 잘못되었습니다.
						</p>
						
						<div id="loginBtBox">
							<a href="javascript:send();" class="login-bt">LOGIN</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

</html>