<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Insert title here</title>
</head>
<body>
	<style>
		.aa{color:blue;}
		.곽찬양{background:pink;}
		
	</style>
	
	<h1> thymeleaf 문법 </h1>
	
	<div th:text="${name}">곽찬양이다</div>
	<div th:class="${name}" id="b">김미란</div>
	<div th:classappend="kim" class="aa">김석진</div>
	
	<div th:text="${tel}"></div>
	<div th:text="${'가나다'}"></div>
	<div th:text="${'<mark>aaa</mark>'}"></div>
	<div th:utext="${'<mark>aaa</mark>'}"></div>
	
	<div th:text="${age > 20 ?'성인':'미성년'}"></div>z
	
	<p th:if="${age>20}">
		성인이구나 찬양이는
	</p>
	<button th:unless="${age>20}">미성년자는 나가세요</button>
	
	<div th:switch="${name}">
		<p th:case="김명준">은호왈, 그만 좀 먹을거 가져와</p>
		<p th:case="이정훈">은호왈, 점심 뭐먹을까?</p>
		<p th:case="곽찬양">은호왈, 누구신지..?</p>
	</div>
	
	<form th:object="${user}" method="get" action="/testSave">
		아이디:<input type="text" th:field="*{id}"> <br>
		이름:<input type="text" th:field="*{name}"> <br>
		연락처:<input type="text" th:field="*{tel}"><br>
		나이:<input type="number" th:field="*{age}"><br>
		<button>저장</button>
	</form>
	
	<table th:object="${user}">
		<tr>
			<td>이름</td>
			<td th:text="*{name}"></td>
		</tr>
		<tr>
			<td>나이</td>
			<td th:text="*{age}"></td>
		</tr>
	</table>
	
	<ul>
		<li th:each="a : ${animal}" th:text="${a}"></li>
	</ul>

</body>
</html>

M