<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmls:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>온라인도서관</title>

<link rel="stylesheet" href="/css/default.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script th:src="@{/javascript/default.js}"></script>

<th:block layout:fragment="css"></th:block>
<th:block layout:frag1ment="script"></th:block>
</head>
<body>

	<div id="wrap">
		<th:block th:replace="layout/header :: head"></th:block>
		
		<th:block layout:fragment="main"></th:block>
		
		<th:block th:replace="layout/footer :: foot"></th:block>
	</div>
	
	
</body>
</html>