<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmls:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>온라인도서관</title>
<link rel="stylesheet" href="./css/default.css">

<th:block layout:fragment="css"></th:block>
<th:block layout:fragment="script"></th:block>
</head>
<body>

	<div id="wrap">
		<th:block th:replace="layout/header :: head"></th:block>
		
		<th:block layout:fragment="main"></th:block>
		
		<th:block th:replace="layout/footer :: foot"></th:block>
	</div>
	
	
</body>
</html>