<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<div th:fragment="head" id="header">
		<ul id="menuList">
			<li class="menu"><a href="/bookSearch">도서검색</a></li>
			<li class="menu"><a href="/loans">대출</a></li>
			<li class="menu"><a href="/return">반납</a></li>
			<li th:if="${session.user=='admin'}" class="menu"><a href="/admin/bookEnroll">도서등록</a></li>
			<li class="menu"><a href="/goldLibrary">황금도서관</a></li>
		</ul>
		
		<div th:if="${session.user!=null}" id="userBox">
			<div id="userMenu">
				<p th:text="${session.user}" class="user-email"></p>
				<p><a href="">MY-INFO</a></p>
				<a href="/logout">LOGOUT</a>
			</div>
			<div id="menuToggle">
				<p class="menuShow">
					<i class="bi bi-arrow-right-square-fill"></i>
				</p>
				<p class="menuHide">
					<i class="bi bi-arrow-left-square-fill"></i>
				</p>
			</div>
		</div>
	</div>
		
</html>