<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

		<div th:fragment="menu" id="menu">
            <ul class="menu-list">
                <li class="menu">
                    <a href="javascript:login();">로그인</a>
                </li>
                <li class="menu">
                    <a href="javascript:join();">회원가입</a>
                </li>
                <li class="menu"><a href="/">HOME</a></li>
                <li class="menu"><a href="/">모두의 공간</a></li>
                <li class="menu">
                    <a href="/board/index">모두의 정보</a>
                </li>
            </ul>
        </div>


</html>