<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
	<div th:fragment="signIn" id="loginModal">
		<div id="modalBg"></div>
        <div id="loginBox" class="box">
            <h2 class="text-light text-center mb15">TALK SignIN</h2>
            <form th:object="${memberSignInDto}" method="post" action="/member/signIn">
                <div class="input-field">
                    <input type="text" th:field="*{memberId}" class="inputBox login-input" placeholder="아이디">
                </div>
                <div class="input-field">
                    <input type="password" th:field="*{password}" class="inputBox login-input" placeholder="비밀번호">
                </div>
                <div class="input-field">
                    <button class="btn">LOGIN</button>
                </div>
            </form>
        </div>
	</div>
</html>