*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
}
a{ text-decoration: none; color:inherit;}
img{width:100%;}
body{
    background:#2b2b2b;
}

.box{
    padding:10px;
    border-radius:7px;
    background:#333333;
}
.inputBox{
    background:#2A2A2A;
    outline: none;
    color:#E0E0E0;
    border:1px solid #333333;
    font-size:17px;
    padding:5px 10px;
    width:100%;
    border-radius:5px;
}
.inputBox:focus{
    border-color:#1E88E5 ;
}
.btn{
    display: block;
    border:0;
    border-radius:7px;
    width:100%;
    padding:5px 0;
    font-size:inherit;
    text-align:center;
    background:#1E88E5;
    color:#FFFFFF;
}
.btn-color-green{
    background:#00c853;
}
.btn-color-red{
    background: #cf6679;
}
.btn:hover{
    background: #1565C0;
}
.text-light{
    color:#eaeaea;
}
.text-center{text-align: center;}
.mb15{
    margin-bottom:15px;
}
.mt15{
    margin-top:15px;
}
.flex{display:flex;}
.flex-align-center{ align-items:center;}
.bb2sl{
    border-bottom:2px solid #eaeaea;
}
.pv10{
    padding:10px 0;
}
.mh-blue:hover{
    color:#1E88E5;
}
.w10p{ width:10%;}
.w20p{ width:20%;}
.w40p{ width:40%;}
#wrap{
    width:1000px;
    margin:0 auto;
    position:relative;
}
#menu{
    position:fixed;
    top:100px;
    left:5px;
    color:#eaeaea;
    background:#cf6679;
    border-radius:7px;
    overflow: hidden;
}
#menu .menu-list .menu a{
    padding:15px 15px;
    display:block;

}
#menu .menu-list .menu a:hover{
    background:#b00a28;
}

#loginModal, #joinModal{
    display:none;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    z-index: 100;
}
#modalBg, #joinModalBg{
    position:absolute;
    top:0; left:0; width:100%;
    height:100vh;
    background:#555555;
    opacity: 0.6;
}
#loginBox , #joinBox{
    z-index: 110;
    position: relative;
    top:50%; left:50%;
    transform: translate(-50%,-50%);
    width:300px;
    padding:20px;
    border:1px solid #1C1C1C;
}
#loginBox .input-field, #joinBox .input-field{
    margin-bottom:10px;
}
#footer{

}