
#main{
    width:100%;
    position:relative;
}
#slideWrap{
    width:100%;
    overflow: hidden;
    height:300px;
}
#slideBox{width:5000px; display:flex;position:relative;top:-100px;}
#slideBox .slide-image{ 
    width:1000px;
    position:relative;
    right:0px;
    animation: slideMove 10s 1s alternate infinite;
}

#boardWrap{
    width:100%;
    display:flex;
    padding:20px;
    column-gap: 20px;
    color:#eaeaea;
}
#boardWrap .popular, #boardWrap .recent{
    flex:1;
    border-radius:7px;
    background:#1e1e1e;
    padding:20px;
}
#boardWrap .recent .recent-board h3{
   background:#1e88e5;
   border-radius:7px; padding:5px 10px;
}
#boardWrap .popular .popular-board h3{
    background:#00c853;
    border-radius:7px; padding:3px 10px;
}
#boardWrap .recent .recent-board ul, #boardWrap .popular .popular-board ul{
    margin-top:20px;
    padding:0 10px;
}
#boardWrap ul li{ display:flex; padding:5px 0 3px 0; }
#boardWrap ul .board-field{ text-align:center;border-bottom:2px solid #3a3a3a; }
#boardWrap .title{
    display:inline-block;
    width:80%;
}
#boardWrap .writer{
    display:inline-block;
    text-align:center;
    width:20%;
    overflow: hidden;
}
#boardWrap .recent ul li a:hover{ font-weight: 700;color:#1e88e5;}
#boardWrap .popular ul li a:hover{ font-weight: 700;color:#00c853;}
@keyframes slideMove{
    0%{right:0px;}
    25%{right:1000px;}
    50%{right:2000px;}
    75%{right:3000px;}
    100%{right:4000px;}
}