<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
	
<head>
<th:block layout:fragment="css"></th:block>
<th:block layout:fragment="script"></th:block>
</head>

	<div layout:fragment="main" id="main">
		<form th:object="${bookWriteDto}" method="get" action="/admin/bookSave">
			<div class="data-field">
				<label th:for="bookTitle">제목</label>
				<input type="text" th:field="*{bookTitle}">
			</div>
				<div class="data-field">
				<label th:for="bookAuthor">저자</label>
				<input type="text" th:field="*{bookAuthor}">
			</div>
				<div class="data-field">
				<label th:for="bookPublising">출판사</label>
				<input type="text" th:field="*{bookPublishing}">
			</div>
				<div class="data-field">
				<label th:for="bookYear">츨핀냔더</label>
				<input type="text" th:field="*{bookYear}">
			</div>
			
			<button class="btn book-btn">등록</button>
		</form>
	</div>	
</html>